#Store {
    height: 100%;
    /* width: 100%; */
    position: fixed;
    top: 40px;
    left: 50px;
    z-index: 2147483647;
    display: none;
    /* fallback for old browsers */
    background: rgba(83, 105, 118 , 0.6);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(41, 46, 73 , 0.6), rgba(83, 105, 118 , 0.6));  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(41, 46, 73 , 0.6), rgba(83, 105, 118 , 0.6)); 
}

.api {
    cursor: pointer;
    transition: transform .2s;
    /* height: 125px ; */
    height: auto ;
}

.api:hover {
    transform: scale(1.15,1.15);
    border: 1px solid white !important;
    background: white;
}

.api:hover  * {
    color: black ;
}

.api > mat-icon {
    width: 100px;
    font-size: 70px;
}