
<div class="container-fluid">
  <div class="row">
    <div class="form-group">
    </div>
  </div>
  <div class="row">
    <audio controls #media id="media" autoplay></audio>
  </div>
  <div class="row justify-content-around">
    <label class="btn border-secondary my-2">
      Add<input type="file" style="display: none;" id="music" (change)="add($event.target.files)" multiple accept="audio/mp3">
    </label>
    <label class="btn border-secondary my-2" (click)="(this.media.paused) ? resume() : pause()">{{ (this.media.paused) ? 'resume' : 'pause' }}</label>
    <label class="btn border-secondary my-2" (click)="shuffle()">Shuffle</label>
    <label class="btn border-secondary my-2" (click)="next()">Next</label>
    <label class="btn border-secondary my-2" (click)="prev()">Prev</label>
  </div>
  <div class="row" *ngIf="musics[nowPlaying]">
    Now Playing&hellip;{{ musics[nowPlaying].name }}
  </div>
  <div class="row">
    <ul cdkDropList class="col list-group playlist" (cdkDropListDropped)="drop($event)">
      <li class="list-group-item" *ngFor="let music of musics; let i = index" cdkDrag>{{i+1}}-{{music.name}}
        <button mat-raised-button (click)="play(i)">Play</button>
      </li>
    </ul>
  </div>
</div>
