
<div class="p-3 h-100 d-flex flex-column text-center bg-dark"
[ngStyle]="{'background-image': 'url(../../../assets/images/wallpaper2.jpg)', 'background-size': 'cover'}">
  <div class="container mb-auto">
    <div class="row">
      <div class="mx-auto col-md-9">
        <nav class="navbar navbar-expand-md navbar-dark">
          <div class="container">
            <a class="navbar-brand" routerLink=""><b>WebTop</b></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
              <ul class="navbar-nav">
                <!-- <li class="nav-item">
                  <a class="nav-link active" href="#"><b>Home</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><b>Features</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><b>Contact</b></a>
                </li> -->
                <li class="nav-item" *ngIf="!(this.Auth.user | async)">
                  <a class="nav-link" routerLink="auth"><b>SignIn</b></a>
                </li>
                <li class="nav-item" *ngIf="!!(this.Auth.user | async)">
                  <a class="nav-link" href="#"><b>{{ (this.Auth.user | async)?.displayName }}</b></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="cover-heading text-white"><b>WebTop</b></h1>
        <p class="lead text-white">A cross platform web app that organizes our cyberlife.</p>
        <a routerLink="desktop" class="btn btn-lg btn-primary mr-2"><b class="">Start</b></a>
        <a 
          href="https://drive.google.com/open?id=1_yJuHJehrsKMNvP1HUIv5lghVXA8DQm5PcaxrZKb2G8"
         class="btn btn-lg btn-light"><b class="">Documentation</b></a>
      </div>
    </div>
  </div>
  <div class="container mt-auto">
    <div class="row">
      <div class="col-md-12">
        <p class="mt-auto text-secondary">Graduation Project &copy; 2019, by 
          <a href="#" class="text-white">LOL Team</a>
            <img style="width: 20px"
            src="../../../assets/images/face-with-tears-of-joy_1f602.png" 
            alt="face-with-tears-of-joy" />
        </p>
      </div>
    </div>
  </div>
</div>