<div class="container-fluid">
  <div class="row justify-content-around">
    <a class="d-flex align-items-center nav-link" 
      href="http://www.stackoverflow.com" target="_blank" >
      <div 
        class="mr-2"
        style="
          background-image: url(
            'https://www.google.com/s2/favicons?domain=www.stackoverflow.com'
          );
          height: 16px;
          width: 16px;"
        ></div>
        StackOverflow
      </a>
    <a class="d-flex align-items-center nav-link" 
      href="http://www.google.com" target="_blank" >
      <div 
        class="mr-2"
        style="
          background-image: url(
            'https://www.google.com/s2/favicons?domain=www.google.com'
          );
          height: 16px;
          width: 16px;"
        ></div>
        Google
      </a>
      <a class="d-flex align-items-center nav-link" 
      href="http://www.facebook.com" target="_blank" >
      <div 
        class="mr-2"
        style="
          background-image: url(
            'https://www.google.com/s2/favicons?domain=www.facebook.com'
          );
          height: 16px;
          width: 16px;"
        ></div>
        Facebook
      </a>
      <a class="d-flex align-items-center nav-link" 
      href="http://www.twitter.com" target="_blank" >
      <div 
        class="mr-2"
        style="
          background-image: url(
            'https://www.google.com/s2/favicons?domain=www.twitter.com'
          );
          height: 16px;
          width: 16px;"
        ></div>
        Twitter
      </a>
  </div>
</div>
